langchain==0.0.329
google-cloud-aiplatform
pydantic==1.10.12
asyncio
fastapi==0.103.2
uvicorn
pymongo==4.5.0
gradio
langchainhub==0.1.13
langchain_experimental
presidio-analyzer
presidio_anonymizer
langdetect
Faker
pyvi
https://gitlab.com/trungtv/vi_spacy/-/raw/master/packages/vi_core_news_lg-3.6.0/dist/vi_core_news_lg-3.6.0.tar.gz
spacy
langserve==0.0.27
sse_starlette
google-search-results
openai
gptcache
pip install chardet
google-search-results
gunicorn